<h1>Hello</h1>
<div class="messages"></div>
<form class="new-message-form">
    <input type="text" class="newMessage" placeholder="New Message"/>
    <input type="submit" class="sendMessage" value="Send"/>
</form>