{{#each this}}

<div class="each-message-container">
<div><span class="message-name">{{username}}<span class="message-time">{{format-date created_at}}</span></span></div>
    <div><span class="message-content">{{content}}</span></div>
</div>
{{/each}}
